button{
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(56, 177, 114);
}
.light-mode {
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://i.pinimg.com/564x/7b/2e/24/7b2e241c1659b26d9d0c0700cf88bdce.jpg);
  /* background-image: url(https://i.pinimg.com/564x/7b/2e/24/7b2e241c1659b26d9d0c0700cf88bdce.jpg); */
}

.dark-mode {
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://i.pinimg.com/564x/ea/d0/cb/ead0cb2fd12aff988b27f69840ab98c4.jpg);
}
body{
  margin: 0;
  /* background-image: url(https://i.pinimg.com/564x/ea/d0/cb/ead0cb2fd12aff988b27f69840ab98c4.jpg); */

}
